@media (max-width: 768px){
	.logo{
		margin-top: 10px;
	}
	
	#destaques{
		margin: 5px 0 0;
	}	
	
	#menu-primario{
		height: 50px;
	}
	.icon-bar{
		background-color: #fff;
	}
	.navbar-fixed-top{
		height: 20px;
		position: static;
		margin: -43px 0 0 0;
	}
	.navbar-form{
		width: 10px;
		margin: -42px 0 0 0;
		padding: 0;
	}
	.btn-default{
		background: transparent;
		color: #fff;
		border: none;
	}
	.btn-default:hover{
		background: transparent;
		color: #fff;
	}
	.navbar-collapse{
		padding: 0;
		margin: 8px 0 0;
	}
	.navbar-nav{
		width: 100%;
		margin:0;
		padding: 0;
	}
	
	.destaque-principal{
		text-align: right;
		width: 60%;
		margin: 0 0 -20px 20%;
		padding: 0;
	}
	.destaque-principal h5{
		margin-bottom: -10px;
		font-size: 10px;
	}
	.destaque-principal h3{
		font-size: 14px;
	}
	
	.sub-destaques{
		text-align: right;
		width: 50%;
		margin: 0 0 -20px 30%;
		padding: 0;
	}
	
	
	.demais-conteudos-lateral{
		margin-bottom: 20%;
	}
}	